#invitation-form {
    width: 80%;
    margin: auto;
    padding: 4rem;
    text-align: left;
}

.error-message {
    color: red;
    text-align: right;
}

#invitation-form button {
    float: right;
}

@media screen and (max-width:900px) {
    #invitation-form {width: 100%}
  }
  